:root {
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --secondary-text-color: #757575;
  --main-light-color: #f5f4fa;
  --secondary-light-color: #eeeeee;
  --tertiary-light-color: #ececec;
  --tertiary-text-color: #2f303a;
}

/* * {
  outline: 1px solid tomato;
} */

body {
  font-family: Roboto, Helvetica;
  color: var(--main-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */

.header-container {
  display: flex;
  /* padding-top: 24px;
  padding-bottom: 25px; */
}

.navigation {
  display: flex;
}

.logo {
  display: inline-block;
  text-decoration: none;
  color: var(--accent-color);
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.logo-header {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo-span {
  color: #000000;
}

.nav-list {
  display: flex;
}

.nav-link {
  cursor: pointer;
}

.nav-link:not(:last-child) {
  margin-right: 50px;
}

.nav-link a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  height: 100%;
  align-content: center;
}

.nav-list li {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.nav-list li:hover,
.nav-list li:focus {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-link:not(:last-child) {
  margin-right: 50px;
}

.contact-list a {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  align-content: center;
  height: 100%;
}

.contact-list a:hover,
.contact-list a:focus {
  color: var(--accent-color);
}

.header-outline {
  border-bottom: 1px solid #ececec;
}

/* hero */

.hero {
  background-color: #2f303a;
  padding: 200px 452px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-title {
  color: var(--main-bg-color);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 2.64px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.hero-btn {
  background-color: var(--accent-color);
  color: var(--main-bg-color);

  font-size: 16px;
  font-weight: 700;

  letter-spacing: 0.96px;
  line-height: 1.87;

  cursor: pointer;

  padding: 10px 32px;
  border-radius: 4px;
}

/* advantages */

.advantages-list {
  list-style: none;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.advantages-item {
  flex-basis: calc(100% / 4 - 15px);
  margin-right: 15px;
  margin-left: 15px;
}

.advantages-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  margin-bottom: 10px;
}
.advantages-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 1.71;
}

/* features  */

.features-container {
  padding-top: 0;
}

.features-list {
  display: flex;
}

.features-list > li:not(:last-child) {
  margin-right: 30px;
}

/* team */

.team-section {
  background-color: var(--main-light-color);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.team-member {
  flex-basis: calc(100% / 4-15px);
  margin-right: 15px;
  margin-left: 15px;
  background-color: var(--main-bg-color);
}

.team-name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team-position {
  color: var(--secondary-text-color);
  font-size: 16px;

  letter-spacing: 0.48px;
}

.team-thumb {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/* buttons  */

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  background-color: var(--main-light-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  line-height: 1.62;
  cursor: pointer;
  padding: 6px 22px;
  border: var(--main-light-color);
  border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

.button-list li:not(:last-child) {
  margin-right: 8px;
}

/* portfolio  */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.portfolio-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;

  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 1.88;
}

.portfolio-work {
  flex-basis: calc(100% / 3-15px);
  margin-right: 15px;
  margin-left: 15px;
}

.portfolio-work:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-thumb {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/* footer  */

.footer {
  background-color: var(--tertiary-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-span {
  color: var(--main-bg-color);
}

.footer-logo {
  margin-bottom: 20px;
}

.address {
  color: var(--main-bg-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  line-height: 1.71;
  font-style: normal;
  margin-bottom: 9px;
}

.footer-contact-list {
  list-style: none;
}

.footer-contact-list a {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  line-height: 1.71;
  display: inline-block;
}

.footer-contact:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact-list a:hover,
.footer-contact-list a:focus,
.address:hover,
.address:focus {
  color: var(--accent-color);
}
