@use '../utils/variables';

.advantages__list {
  margin-left: -15px;
  margin-right: -15px;

  display: flex;
}

.advantages__item {
  margin-right: 15px;
  margin-left: 15px;

  flex-basis: calc(100% / 4 - 15px);
}

.advantages__title {
  margin-top: 30px;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
}
.advantages__text {
  margin-top: 10px;

  color: variables.$secondary-text-color;
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 1.71;
}

.advantages__item svg {
  width: 70px;
  height: 70px;
}

.advantages__icon {
  padding: 25px 100px;

  background-color: variables.$main-light-color;
}
