@use '../utils/variables';

.advantages-list {
  list-style: none;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.advantages-item {
  flex-basis: calc(100% / 4 - 15px);
  margin-right: 15px;
  margin-left: 15px;
}

.advantages-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  margin-top: 30px;
}
.advantages-text {
  color: variables.$secondary-text-color;
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 1.71;
  margin-top: 10px;
}

.advantages-item svg {
  width: 70px;
  height: 70px;
}

.icon {
  background-color: variables.$main-light-color;
  padding: 25px 100px;
}
