@use '../utils/variables';
@use '../utils/mixins';

.clients__list {
  @include mixins.grid-layout(1, 15px);
  @include mixins.for-size(phone) {
    @include mixins.grid-layout(2, 15px);
  }

  @include mixins.for-size(tablet) {
    @include mixins.grid-layout(3, 15px);
  }

  @include mixins.for-size(desktop) {
    margin-top: 50px;
    @include mixins.grid-layout(6, 15px);
  }
}

.client__logo {
  padding: 16px 52px;
  width: 100%;
  text-align: center;

  outline: 1px solid #afb1b8;
  border-radius: 4px;
  @include mixins.transition(outline);

  @include mixins.for-size(desktop) {
    padding: 16px 32px;
    width: 100%;
    height: 92px;
  }
}

.client__logo svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  @include mixins.transition(fill);
}



.client__logo:hover,
.client__logo:focus {
  outline: 1px solid variables.$accent-color;
  @include mixins.transition(outline);
}

.client__logo:hover svg,
.client__logo:focus svg {
  fill: variables.$accent-color;
  @include mixins.transition(fill);
}
