@use '../utils/variables';

.clients-list {
  display: flex;
  margin-top: 50px;
}

.client-logo {
  padding: 16px 32px;
  width: 100%;
  height: 92px;
  outline: 1px solid #afb1b8;
  border-radius: 4px;
  transition: outline variables.$time-function;
}

.client-logo svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill variables.$time-function;
}

.client-logo:not(:last-child) {
  margin-right: 30px;
}

.client-logo:hover,
.client-logo:focus {
  outline: 1px solid variables.$accent-color;
  transition: outline variables.$time-function;
}

.client-logo:hover svg,
.client-logo:focus svg {
  fill: variables.$accent-color;
  transition: fill variables.$time-function;
}
