@use '../utils/variables';
@use '../utils/mixins';

.clients__list {
  display: flex;
  margin-top: 50px;
}

.client__logo {
  padding: 16px 32px;
  width: 100%;
  height: 92px;
  outline: 1px solid #afb1b8;
  border-radius: 4px;
  @include mixins.transition(outline);
}

.client__logo svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  @include mixins.transition(fill);
}

.client__logo:not(:last-child) {
  margin-right: 30px;
}

.client__logo:hover,
.client__logo:focus {
  outline: 1px solid variables.$accent-color;
  @include mixins.transition(outline);
}

.client__logo:hover svg,
.client__logo:focus svg {
  fill: variables.$accent-color;
  @include mixins.transition(fill);
}
