@use '../utils/variables';
@use '../utils/mixins';

.features__container {
  display: none;

  @include mixins.for-size(desktop) {
    display: block;
    padding-top: 0;
  }
}

.features__list {
  display: flex;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__item {
  position: relative;
}

.features__description {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  display: block;
  width: 100%;

  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  opacity: 0.9;

  background-color: variables.$tertiary-text-color;
  color: variables.$main-bg-color;
}
