@use '../utils/variables';


.features-container {
  padding-top: 0;
}

.features-list {
  display: flex;
}

.features-list > li:not(:last-child) {
  margin-right: 30px;
}

.features-list > li {
  position: relative;
}

.feature-description {
  display: block;
  width: 100%;
  background-color: variables.$tertiary-text-color;
  color: variables.$main-bg-color;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  opacity: 0.9;

  position: absolute;
  bottom: 0;
}
