@use '../utils/variables';
@use '../utils/mixins';

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: variables.$tertiary-text-color;
  text-align: center;
  @include mixins.for-size(tablet) {
  }
  @include mixins.for-size(desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
  }
}

.footer__text-block {
  @include mixins.for-size(tablet) {
    display: flex;
    padding-left: 61px;
    padding-right: 74px;
  }

  @include mixins.for-size(desktop) {
    padding-left: 0;
    padding-right: 0;
    text-align: start;
  }
}

.footer__container {
  @include mixins.for-size(desktop) {
    display: flex;
  }
}

.footer__socials-list {
  display: flex;
  justify-content: center;

  @include mixins.for-size(desktop) {
    margin-top: 20px;
    justify-content: start;
  }
}

.footer__socials-links {
  text-align: center;

  margin-bottom: 60px;

  @include mixins.for-size(tablet) {
    margin-left: auto;
    margin-top: 5px;
  }
  @include mixins.for-size(desktop) {
    margin-left: 70px;
    margin-top: 12px;
  }
}

.footer__socials-title {
  @include mixins.font-settings(14px, 700, normal, 0.03em);
  text-align: center;
  color: variables.$main-bg-color;
  text-transform: uppercase;

  margin-bottom: 20px;

  @include mixins.for-size(desktop) {
    text-align: start;
    @include mixins.font-settings(14px, 700, normal, 0.03em);
  }
}

.footer__socials-list svg {
  fill: variables.$main-bg-color;
}

.footer__icon {
  background: rgba(255, 255, 255, 0.1);
}

.footer__address {
  margin-bottom: 8px;
  @include mixins.font-settings(14px, 400, 1.71, 0.42px);
  color: variables.$main-bg-color;
  font-style: normal;
  transition: color variables.$time-function;
  @include mixins.for-size(desktop) {
    margin-bottom: 9px;
  }
}

.footer__contacts-list {
  margin-bottom: 60px;
}

.footer__contacts-list a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  @include mixins.font-settings(14px, 400, 1.71, 0.42px);
  transition: color variables.$time-function;
  text-decoration: none;
}

.footer__contact:not(:last-child) {
  margin-bottom: 8px;
  @include mixins.for-size(desktop) {
    margin-bottom: 9px;
  }
}

.footer__contacts-list a:hover,
.footer__contacts-list a:focus,
.footer__address:hover,
.footer__address:focus {
  color: variables.$accent-color;
  transition: color variables.$time-function;
}
