@use '../utils/variables';
@use '../utils/mixins';

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: variables.$tertiary-text-color;
}

.footer__container {
  @include mixins.flex-center;
}

.footer__socials-list {
  margin-top: 20px;
  display: flex;
}

.footer__socials-links {
  margin-left: 70px;
  margin-top: 12px;
}

.footer__socials-title {
  // @include mixins.font-settings(14px, 700, 0.03em, uppercase);

  color: variables.$main-bg-color;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}

.footer__socials-list svg {
  fill: variables.$main-bg-color;
}

.footer__icon {
  background: rgba(255, 255, 255, 0.1);
}

.footer__address {
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  line-height: 1.71;
  color: variables.$main-bg-color;
  font-style: normal;
  transition: color variables.$time-function;
}

.footer__contacts-list {
  list-style: none;
}

.footer__contacts-list a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  line-height: 1.71;
  transition: color variables.$time-function;
  text-decoration: none;
}

.footer__contact:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contacts-list a:hover,
.footer__contacts-list a:focus,
.footer__address:hover,
.footer__address:focus {
  color: variables.$accent-color;
  transition: color variables.$time-function;
}
