@use '../utils/variables';
@use '../utils/mixins';

.header__outline {
  border-bottom: 1px solid #ececec;
}

.is-open {
  display: none;
  @include mixins.for-size(tablet) {
    display: block;
  }
}

.js-open-menu[aria-expanded='true'] ~ .js-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  padding: 48px 40px;

  background-color: variables.$main-bg-color;
}

.js-menu-container {
  @include mixins.for-size(tablet) {
    display: flex;
    flex-grow: 1;
  }
}
