@use '../utils/variables';
@use '../utils/mixins';

.hero {
  margin-right: auto;
  margin-left: auto;
  padding: 118px 60px;
  max-width: 480px;
  // padding: 200px 452px;

  @include mixins.flex-center;
  flex-wrap: wrap;

  background-color: #2f303a;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../../images/hero/hero-480.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 480px 400px;
  box-sizing: border-box;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../../images/hero/hero-480@2x.jpg');
  }

  @include mixins.for-size(tablet) {
    max-width: 768px;
    padding: 118px 204px;
    background-size: 768px 400px;
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../../images/hero/hero-768.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../../images/hero/hero-768@2x.jpg');
    }
  }
  @include mixins.for-size(desktop) {
    max-width: 1600px;
    padding: 200px 452px;
    background-size: 1600px 600px;
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../../images/hero/hero-1200.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../../images/hero/hero-1200@2x.jpg');
    }
  }
}

.hero__title {
  margin-bottom: 30px;

  @include mixins.font-settings(26px, 900, 1.61, 0.06em);

  color: variables.$main-bg-color;
  text-align: center;
  text-transform: uppercase;

  @include mixins.for-size(desktop) {
    @include mixins.font-settings(44px, 900, 1.36, 0.06em);
  }
}

// .hero {
//   // 1. Мобільна версія (базова)
//   background-image: url('../../images/hero-480.jpg');

//   @media (min-resolution: 2dppx) {
//     background-image: url('../../images/hero-480@2x.jpg');
//   }

//   // 2. Планшетна версія
//   @include mixins.for-size(tablet) {
//     background-image: url('../../images/hero-768.jpg');

//     @media (min-resolution: 2dppx) {
//       background-image: url('../../images/hero-768@2x.jpg');
//     }
//   }

//   // 3. Десктопна версія
//   @include mixins.for-size(desktop) {
//     background-image: url('../../images/hero-1600.jpg');

//     @media (min-resolution: 2dppx) {
//       background-image: url('../../images/hero-1600@2x.jpg');
//     }
//   }
// }
