@use '../utils/variables';
@use '../utils/mixins';

.hero {
  margin-right: auto;
  margin-left: auto;
  padding: 200px 452px;
  max-width: 1600px;

  @include mixins.flex-center;
  flex-wrap: wrap;

  background-color: #2f303a;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;

  color: variables.$main-bg-color;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 2.64px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
}
