@use '../utils/variables';
@use '../utils/mixins';

.portfolio__list {
  @include mixins.for-size(tablet) {
    @include mixins.grid-layout(2, 30px);
  }
  @include mixins.for-size(desktop) {
    @include mixins.grid-layout(3, 30px);
  }
}

.portfolio__title {
  margin-bottom: 4px;
  @include mixins.font-settings(18px, 700, 2, 0.06em);
  @include mixins.for-size(desktop) {
    margin-bottom: 8px;
  }
}
.portfolio__text {
  @include mixins.font-settings(16px, 400, 1.87, 0.03em);
  color: variables.$secondary-text-color;

  @include mixins.for-size(desktop) {
    @include mixins.font-settings(16px, 400, 1.87, 0.03em);
  }
}

.portfolio__work {
  transition: box-shadow variables.$time-function;
}

.portfolio__work:hover,
.portfolio__work:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow variables.$time-function,
    transform variables.$time-function;
}

.portfolio__work:not(:nth-last-child(-n + 3)) {
  @include mixins.for-size(desktop) {
    margin-bottom: 30px;
  }
}

.portfolio__thumb {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio__image-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;

  padding: 77px 24px;
  width: 100%;
  height: 100%;
  display: block;

  @include mixins.font-settings(18px, 400, 1.55, 0.03em);
  color: variables.$main-bg-color;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform variables.$time-function;

  @include mixins.for-size(desktop) {
    padding: 63px 24px;
  }
}

.portfolio__work:hover .portfolio__overlay,
.portfolio__work:focus .portfolio__overlay {
  transform: translateY(0);
  transition: transform variables.$time-function;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__work:first-child .portfolio__thumb {
    padding-bottom: 56px;
  }
}
