@use '../utils/variables';
@use '../utils/mixins';

.portfolio-nav__list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;

  @include mixins.for-size(tablet) {
    margin-bottom: 30px;
    @include mixins.flex-center;
  }

  @include mixins.for-size(desktop) {
    margin-bottom: 50px;
  }
}

.portfolio-nav__btn {
  padding: 6px 22px;
  @include mixins.font-settings(16px, 500, 1.62, 0.48px);
  background-color: variables.$main-light-color;

  border: variables.$main-light-color;
  border-radius: 4px;
  transition: background-color variables.$time-function,
    color variables.$time-function, box-shadow variables.$time-function;
  cursor: pointer;

  margin-bottom: 15px;
}

.portfolio-nav__btn:hover,
.portfolio-nav__btn:focus {
  background-color: variables.$accent-color;
  color: variables.$main-bg-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color variables.$time-function,
    color variables.$time-function, box-shadow variables.$time-function;
}

.portfolio-nav__item:not(:last-child) {
  margin-right: 8px;
}
