// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// .section__title {
//   margin-bottom: 50px;
//   text-align: center;

//   font-size: 36px;
//   font-weight: 700;
//   letter-spacing: 1.08px;
// }
