@use '../utils/variables';
@use '../utils/mixins';

.team__section {
  background-color: variables.$main-light-color;
}

.team__list {
  @include mixins.for-size(tablet) {
    @include mixins.grid-layout(2, 30px);
  }
  @include mixins.for-size(desktop) {
    @include mixins.grid-layout(4, 30px);
  }
}

.team__member {
  background-color: variables.$main-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__member:not(:last-child) {
  margin-bottom: 30px;
  @include mixins.for-size(tablet) {
    margin-bottom: 15px;
  }
}

.team__name {
  margin-bottom: 10px;
  @include mixins.font-settings(16px, 500, normal, 0.48px);
}

.team__position {
  color: variables.$secondary-text-color;
  @include mixins.font-settings(16px, 400, normal, 0.03em);
}

.team__thumb {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 24px;

  @include mixins.for-size(desktop) {
    padding-bottom: 30px;
  }
}
