@use './utils/variables';
@use './utils/normalize';

@use './base/common';
@use './base/container';
@use './layots/header';
@use './components/navigation';
@use './components/logo';
@use './components/contacts';

@use './components/buttons';

@use './layots/portfolio-nav';
@use './layots/portfolio';
@use './components/social-links';

@use './layots/footer';

@use './components/form';

// * {
//   outline: 1px solid tomato;
// }
