// @use '../utils/variables';

// .hero-btn {
//   background-color: variables.$accent-color;
//   color: variables.$main-bg-color;

//   font-size: 16px;
//   font-weight: 700;

//   letter-spacing: 0.96px;
//   line-height: 1.87;

//   cursor: pointer;

//   padding: 10px 32px;
//   border-radius: 4px;
//   border: 1px solid variables.$accent-color;
// }