@use '../utils/variables';

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-link:not(:last-child) {
  margin-right: 50px;
}

.contact-list a {
  display: block;
  text-decoration: none;
  color: variables.$secondary-text-color;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  /* align-content: center;
  height: 100%;
  align-items: center; */
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color variables.$time-function, fill variables.$time-function;
}

.contact-list a:hover,
.contact-list a:focus {
  color: variables.$accent-color;
  fill: variables.$accent-color;

  transition: color variables.$time-function, fill variables.$time-function;
}

.contact-link svg {
  margin-right: 10px;
  max-height: 16px;
  max-width: 16px;

  vertical-align: bottom;
}
