@use '../utils/variables';
@use '../utils/mixins';

.footer__form {
  margin-left: 93px;
  display: flex;
  flex-direction: column;
}

.footer__form-label {
  margin-bottom: 20px;
  color: variables.$main-bg-color;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer__form-input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  color: variables.$main-bg-color;
  background-color: variables.$tertiary-text-color;
  border: 1px solid variables.$secondary-text-color;
  border-radius: 5px;
}

.footer__form-input:focus-within {
  border: 1px solid variables.$secondary-light-color;
}

// -----------------------------

.form {
  padding: 40px;
}

.form__header {
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: variables.$main-text-color;
}

.form__label {
  position: relative;

  display: flex;
  flex-direction: column;

  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;

  color: variables.$secondary-text-color;
}

.form__input {
  padding: 11px 12px 11px 40px;
  margin-bottom: 10px;
  margin-top: 4px;
  position: relative;

  border-radius: 5px;
  border: 1px solid variables.$secondary-text-color;
  @include mixins.transition(border);
}

.form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 28px;
  left: 12px;
}

.form__input:focus {
  border: 1px solid variables.$accent-color;
}

.form__input:focus-within {
  border-image: initial;
  outline: 0px;
}

.form__input + svg {
  @include mixins.transition(fill);
}

.form__input:focus + svg {
  fill: variables.$accent-color;
}

.form__comment {
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  border-radius: 5px;
  border: 1px solid variables.$secondary-text-color;
  @include mixins.transition(border);
}

.form__comment:focus-within {
  border: 1px solid variables.$accent-color;
  border-image: initial;
  outline: 0px;
}

.form__agreement {
  @include mixins.flex-center;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: variables.$secondary-text-color;
}

.form__agreement > a {
  margin-left: 2px;
  color: variables.$accent-color;
}

.form__agreement-icon {
  margin-right: 9px;
  display: inline-block;
  width: 16px;
  height: 15px;
  outline: 2px solid variables.$main-text-color;
  border-radius: 2px;
}

.form__agreement-input:checked + .form__agreement-icon {
  background-image: url(../images/checked.svg);
  background-color: variables.$accent-color;
  background-repeat: no-repeat;
  background-position: center;
  outline: 2px solid variables.$accent-color;
}
