@use '../utils/variables';
@use '../utils/mixins';

.footer__form {
  @include mixins.for-size(desktop) {
    margin-left: 93px;
    display: flex;
    flex-direction: column;

    margin-top: 12px;
  }
}

.footer__form-label {
  display: inline-block;
  margin-bottom: 20px;
  color: variables.$main-bg-color;
  text-transform: uppercase;

  @include mixins.font-settings(14px, 700, normal, 0.03em);

  @include mixins.for-size(desktop) {
    margin-bottom: 20px;
    text-align: start;
  }
}

.footer__form-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include mixins.for-size(tablet) {
    flex-direction: column;
  }
  @include mixins.for-size(desktop) {
    display: block;
  }
}

.footer__form-input {
  padding: 15px 16px;
  width: 100%;
  margin-bottom: 20px;
  color: variables.$main-bg-color;
  background-color: variables.$tertiary-text-color;
  border: 1px solid variables.$secondary-text-color;
  border-radius: 5px;

  @include mixins.for-size(tablet) {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }

  @include mixins.for-size(desktop) {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.footer__form-input:focus-within {
  border: 1px solid variables.$secondary-light-color;
}

// -----------------------------

.form {
  padding: 40px;
}

.form__header {
  margin-bottom: 12px;
  text-align: center;
  @include mixins.font-settings(20px, 700, 1.5, 0.03em);
  color: variables.$main-text-color;

  @include mixins.for-size(desktop) {
    @include mixins.font-settings(20px, 700, normal, 0.03em);
  }
}

.form__label {
  position: relative;

  display: flex;
  flex-direction: column;

  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;

  color: variables.$secondary-text-color;
}

.form__input {
  padding: 11px 12px 11px 40px;
  margin-bottom: 10px;
  margin-top: 4px;
  position: relative;

  border-radius: 5px;
  border: 1px solid variables.$secondary-text-color;
  @include mixins.transition(border);
}

.form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 28px;
  left: 12px;
}

.form__input:focus {
  border: 1px solid variables.$accent-color;
}

.form__input:focus-within {
  border-image: initial;
  outline: 0px;
}

.form__input + svg {
  @include mixins.transition(fill);
}

.form__input:focus + svg {
  fill: variables.$accent-color;
}

.form__comment {
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  border-radius: 5px;
  border: 1px solid variables.$secondary-text-color;
  @include mixins.transition(border);
}

.form__comment:focus-within {
  border: 1px solid variables.$accent-color;
  border-image: initial;
  outline: 0px;
}

.form__agreement {
  @include mixins.flex-center;
  @include mixins.font-settings(12px, 400, 1.16, 0.03em);

  color: variables.$secondary-text-color;

  @include mixins.for-size(desktop) {
    @include mixins.font-settings(14px, 400, 1.71, 0.03em);
  }
}

.form__agreement > a {
  margin-left: 2px;
  color: variables.$accent-color;
  text-decoration: underline;
}

.form__agreement-icon {
  margin-right: 9px;
  display: inline-block;
  width: 16px;
  height: 15px;
  outline: 2px solid variables.$main-text-color;
  border-radius: 2px;
}

.form__agreement-input:checked + .form__agreement-icon {
  background-image: url(../images/checked.svg);
  background-color: variables.$accent-color;
  background-repeat: no-repeat;
  background-position: center;
  outline: 2px solid variables.$accent-color;
}
