// @use '../utils/variables';

// .footer-form {
//   display: flex;
//   flex-direction: column;
//   margin-left: 93px;
// }

// .footer-form-label {
//   font-size: 14px;
//   font-weight: 700;
//   letter-spacing: 0.03em;
//   color: variables.$main-bg-color;
//   margin-bottom: 20px;
// }

// .footer-input {
//   padding: 15px 16px;
//   background-color: variables.$tertiary-text-color;
//   border: 1px solid secondary-text-color;
//   width: 358px;
//   border-radius: 5px;
//   margin-right: 12px;
//   color: variables.$main-bg-color;
// }

// .footer-input:focus-within {
//   border: 1px solid variables.$secondary-light-color;
// }

// .footer-form-btn {
//   padding: 12px 28px;
//   background-color: variables.$accent-color;
//   border-radius: 5px;
//   border: 1px solid variables.$accent-color;
//   color: variables.$main-bg-color;
//   display: inline-flex;
//   align-items: center;
// }

// .footer-form-btn > svg {
//   width: 24px;
//   height: 24px;
//   fill: variables.$main-bg-color;
//   margin-left: 10px;
// }

// .form {
//   padding: 40px;
// }

// .form-header {
//   font-size: 20px;
//   font-weight: 700;
//   letter-spacing: 0.03em;
//   color: variables.$main-text-color;
//   text-align: center;
//   margin-bottom: 12px;
// }

// .label {
//   display: flex;
//   flex-direction: column;

//   color: variables.$secondary-text-color;

//   font-size: 12px;
//   font-weight: 400;
//   letter-spacing: 0.01em;
//   position: relative;
// }

// .input {
//   padding: 11px 12px 11px 40px;
//   border-radius: 5px;
//   border: 1px solid variables.$secondary-text-color;
//   margin-top: 4px;
//   position: relative;
//   margin-bottom: 10px;
//   transition: border variables.$time-function;
// }

// .form-icon {
//   width: 18px;
//   height: 18px;
//   position: absolute;
//   top: 28px;
//   left: 12px;
// }

// .input:focus {
//   border: 1px solid variables.$accent-color;
// }

// .input:focus-within {
//   border-image: initial;
//   outline: 0px;
// }

// .input + svg {
//   transition: fill variables.$time-function;
// }

// .input:focus + svg {
//   fill: variables.$accent-color;
// }

// .comment {
//   border: 1px solid variables.$secondary-text-color;
//   padding: 12px 16px;
//   margin-top: 4px;
//   resize: none;
//   border-radius: 5px;
//   margin-bottom: 20px;
//   transition: border variables.$time-function;
// }

// .comment:focus-within {
//   border: 1px solid variables.$accent-color;
//   border-image: initial;
//   outline: 0px;
// }

// .agreement {
//   font-family: 'Roboto';
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 24px;
//   letter-spacing: 0.03em;
//   color: variables.$secondary-text-color;
//   align-items: center;
//   display: flex;
// }

// .agreement > a {
//   color: variables.$accent-color;
//   margin-left: 2px;
// }

// .agreement-icon {
//   width: 16px;
//   height: 15px;
//   outline: 2px solid variables.$main-text-color;
//   display: inline-block;
//   margin-right: 9px;
//   border-radius: 2px;
// }

// .agreement-input:checked + .agreement-icon {
//   background-image: url(../images/checked.svg);

//   background-color: variables.$accent-color;

//   background-repeat: no-repeat;

//   background-position: center;
//   outline: 2px solid variables.$accent-color;
// }

// .form-btn {
//   margin-top: 30px;

//   background-color: variables.$accent-color;
//   color: variables.$main-bg-color;

//   font-size: 16px;
//   font-weight: 700;

//   letter-spacing: 0.96px;
//   line-height: 1.87;

//   cursor: pointer;

//   padding: 10px 52px;
//   border-radius: 4px;
//   border: 1px solid variables.$accent-color;

//   text-align: center;

//   margin-left: 124px;
//   width: 200px;
// }
