@use '../utils/variables';
@use '../utils/mixins';

.logo {
  color: variables.$accent-color;
  font-family: 'Raleway';
  @include mixins.font-settings(24px, 700, normal, 0.03em);

  @include mixins.for-size(desktop) {
    @include mixins.font-settings(26px, 700, normal, 0.78px);
  }
}

.logo--span {
  color: #000000;
}

.logo__header {
  @include mixins.for-size(desktop) {
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.footer__logo--span {
  color: variables.$main-bg-color;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  @include mixins.for-size(desktop) {
    margin-bottom: 20px;
  }
}
