@use '../utils/variables';
@use '../utils/mixins';

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  @include mixins.transition(opacity);
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  background-color: variables.$main-bg-color;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%) scale(1);
  padding: 8px;
  @include mixins.transition(transform);

  @include mixins.for-size(desktop) {
    width: 530px;
    height: 580px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
