@use '../utils/variables';

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity variables.$time-function;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: variables.$main-bg-color;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%) scale(1);
  padding: 8px;

  transition: transform variables.$time-function;
}

.close-btn svg {
  height: 16px;
  width: 16px;
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 6px;
  background-color: variables.$main-bg-color;
  text-align: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill variables.$time-function;
}

.close-btn:hover,
.close-btn:focus {
  fill: variables.$accent-color;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
