@use '../utils/variables';
@use '../utils/mixins';

.navigation {
  @include mixins.flex-center($align: normal);
}

.navigation__list {
  @include mixins.flex-center($align: normal);
}

.navigation__item {
  @include mixins.font-settings(14px, 500, 0.28px);

  @include mixins.transition(color);

  cursor: pointer;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: inline-block;
  height: 100%;
  align-content: center;

  color: inherit;

  text-decoration: none;
}

.navigation__item:hover,
.navigation__item:focus {
  color: variables.$accent-color;
  @include mixins.transition(color);
}

.navigation__item--current::after {
  content: '';
  display: block;
  margin-top: -3px;
  margin-bottom: 0;
  width: 100%;
  height: 4px;

  background-color: variables.$accent-color;

  border-radius: 2px;
}
