@use '../utils/variables';
@use '../utils/mixins';

.navigation {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  @include mixins.for-size(tablet) {
    padding: 0;
    
  }
}

.navigation__list {
  @include mixins.for-size(tablet) {
    display: flex;
    margin-left: 87px;
    
  }
  @include mixins.for-size(desktop) {
    @include mixins.flex-center($align: normal);
    margin-left: 0;
  }
}

.navigation__item:not(:last-child) {
  @include mixins.for-size(tablet) {
    margin-right: 50px;
  }
}

.navigation__item:hover,
.navigation__item:focus {
  color: variables.$accent-color;
  @include mixins.transition(color);
}

.navigation__item {
  @include mixins.font-settings(40px, 500, normal, 0.02em);

  @include mixins.transition(color);

  @include mixins.for-size(tablet) {
    @include mixins.font-settings(14px, 500, normal, 0.02em);
  }
  @include mixins.for-size(tablet) {
    @include mixins.font-settings(14px, 500, normal, 0.28px);
    cursor: pointer;
  }
}

.navigation__link {
  color: inherit;
  text-decoration: none;

  @include mixins.for-size(tablet) {
    display: inline-block;
    height: 100%;
    align-content: center;
  }
}

.navigation__item + .navigation__item {
  margin-top: 32px;
  @include mixins.for-size(tablet) {
    margin-top: 0;
  }
}

.navigation__item--current {
  color: variables.$accent-color;
  @include mixins.for-size(tablet) {
    color: variables.$main-text-color;
  }
}

.navigation__item--current::after {
  @include mixins.for-size(tablet) {
    content: '';
    display: block;
    margin-top: -3px;
    margin-bottom: 0;
    width: 100%;
    height: 4px;

    background-color: variables.$accent-color;

    border-radius: 2px;
  }
}

.menu {
  margin-top: 64px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;

  @include mixins.for-size(tablet) {
    display: none;
  }
}

.menu__link {
  @include mixins.font-settings(18px, 500, 1.22, 0.02em);

  color: variables.$accent-color;
}

.menu__item:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 3px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
