@use '../utils/variables';

.navigation {
  display: flex;
}

.navigation__list {
  display: flex;
}

.navigation__item {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;

  transition: color variables.$time-function;
  cursor: pointer;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: inline-block;
  height: 100%;
  align-content: center;

  color: inherit;

  text-decoration: none;
}

.navigation__item:hover,
.navigation__item:focus {
  color: variables.$accent-color;
  transition: color variables.$time-function;
}

.navigation__item--current::after {
  content: '';
  display: block;
  margin-top: -3px;
  margin-bottom: 0;
  width: 100%;
  height: 4px;

  background-color: variables.$accent-color;

  border-radius: 2px;
}
