@use '../utils/variables';

.socials__list {
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;

  display: flex;
}

.socials__link svg {
  width: 20px;
  height: 20px;

  fill: #afb1b8;

  transition: fill variables.$time-function;
}

.socials__link {
  padding: 12px;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: background-color variables.$time-function;
}

.socials__link:hover,
.socials__link:focus {
  background-color: variables.$accent-color;
  transition: background-color variables.$time-function;
}

.socials__link:hover svg,
.socials__link:focus svg {
  fill: variables.$main-bg-color;
  transition: fill variables.$time-function;
}

.socials__link:not(:last-child) {
  margin-right: 10px;
}
