@use '../utils/variables';
@use '../utils/mixins';

.socials__list {
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;

  @include mixins.flex-center;
}

.socials__link svg {
  width: 20px;
  height: 20px;

  fill: #afb1b8;
  @include mixins.transition(fill);
}

.socials__link {
  width: 44px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  @include mixins.transition(background-color);
}

.socials__link:hover,
.socials__link:focus {
  background-color: variables.$accent-color;
  @include mixins.transition(background-color);
}

.socials__link:hover svg,
.socials__link:focus svg {
  fill: variables.$main-bg-color;
  @include mixins.transition(fill);
}

.socials__link:not(:last-child) {
  margin-right: 10px;
}
