@use '../utils/variables';

body {
  font-family: Roboto, Helvetica;
  color: variables.$main-text-color;
  background-color: variables.$main-bg-color;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  cursor: pointer;
  color: currentColor;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

* {
  box-sizing: border-box;
}
