$main-text-color: #212121;
$accent-color: #2196f3;
$main-bg-color: #ffffff;
$secondary-text-color: #757575;
$main-light-color: #f5f4fa;
$secondary-light-color: #eeeeee;
$tertiary-light-color: #ececec;
$tertiary-text-color: #2f303a;
$time-function: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
